/*
 *  Custom Styles
 */
/* line 5, ../sass/style.scss */
.wrap {
  margin: 0 auto;
}

/* line 9, ../sass/style.scss */
.glyphicon-ok {
  color: green;
}

/* line 13, ../sass/style.scss */
.glyphicon-remove {
  color: red;
}

/* line 18, ../sass/style.scss */
.github-sync-table th, .github-sync-table td {
  text-align: center;
}

/* line 23, ../sass/style.scss */
.sync-btn {
  cursor: pointer;
  margin-left: 20px;
}
/* line 27, ../sass/style.scss */
.sync-btn:hover {
  font-weight: bold;
}
