/*
 *  Custom Styles
 */
/* line 5, ../sass/style.scss */
.wrap {
  margin: 0 auto;
}

/* line 9, ../sass/style.scss */
.glyphicon-ok {
  color: green;
}

/* line 13, ../sass/style.scss */
.glyphicon-remove {
  color: red;
}

/* line 17, ../sass/style.scss */
.milestone-sync-btn {
  cursor: pointer;
  margin-left: 20px;
}
/* line 21, ../sass/style.scss */
.milestone-sync-btn:hover {
  font-weight: bold;
}
